<div markdown="0" id="carousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="hover">
    <!-- Menu -->
    <ol class="carousel-indicators">
        {% assign number_printed = 0 %}
        {% for member in site.data.research_items %}

        <li data-target="#carousel" data-slide-to="{{ number_printed }}" 
        {% if number_printed == 0 %}
         class="active"
        {% endif %}></li>
        {% assign number_printed = number_printed | plus: 1 %}
        {% endfor %}
    </ol>

    <!-- Items -->
    <div class="carousel-inner" markdown="0">
        {% assign number_printed = 0 %}
        {% for member in site.data.research_items %}
        <div class="item 
          {% if number_printed == 0 %}
          active
          {% endif %}">
          <img src="{{ site.url }}{{ site.baseurl }}/images/slider_home_edit/{{ member.name }}"/>
          <div class="carousel-caption">
              <p>{{ member.description }}</p>
          </div>
        </div>
        {% assign number_printed = number_printed | plus: 1 %}
        {% endfor %}
    </div> 
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>